
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pet Finder App</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">

</head>
<body>
        {{#if user}}

    <div class="container1">
      <!--
      <header class="header v-header container2 clearfix">
      -->
      <header>  
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="nav-list"><a href="/users/logout">Logout</a></li>       
            <li role="presentation" class="nav-list"><a href="/users/home">My Dashboard</a></li> <!--Home-Personal User page-->
            <li role="presentation" class="nav-list"><a href="/">Home</a></li>
            <!-- will use links within video background
            <li role="presentation" class="nav-list"><a href="/">Home</a></li> <!-Home intro page-
            <li role="presentation" class="nav-list"><a href="/users/login">Login</a></li>
            <li role="presentation" class="nav-list"><a href="/users/register">Register</a></li>
           -->
          
          </ul>
        </nav>

        <h3 class="text-muted">Pet Finder App</h3>
        
        

      </header>
  </div>
  {{/if}}




      <div class="row">
 			<div class="col-lg-12">
			{{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
       	   {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

 			{{{body}}}

 			</div>
      </div>

     <footer class="footer">
        <p>&copy; 2017 PetFinder, Inc.</p> 
      </footer>


</body>

</html>