
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pet Finder App</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">

</head>
<body>





     
 			<div class="col-lg-12">
          {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
              {{/if}}

              {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}}

              {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
              {{/if}}

          {{{body}}}

 			</div>


     <footer class="footer">
        <p>&copy; 2017 PetFinder, Inc.</p> 
      </footer>


</body>

</html>