<head>
	<link rel="stylesheet" type="text/css" href="../apistyle.css">
</head>	
        {{#if user}}
      <!--
      <header class="header v-header container2 clearfix">
      -->
      <header>  
        <nav>
          <ul class="nav nav-pills ">
            <li role="presentation" class="nav-list pull-right logout"><a href="/users/logout">Logout</a></li>       
            <li role="presentation" class="nav-list pull-right dashboard"><a href="/users/home">My Dashboard</a></li> <!--Home-Personal User page-->
            <li role="presentation" class="nav-list pull-left"><a href="/">Pet Finder</a></li>
            <!-- will use links within video background
            <li role="presentation" class="nav-list"><a href="/">Home</a></li> <!-Home intro page-
            <li role="presentation" class="nav-list"><a href="/users/login">Login</a></li>
            <li role="presentation" class="nav-list"><a href="/users/register">Register</a></li>
           -->
          
          </ul>
          
        </nav>

        
        
        

      </header>
  {{/if}}

<div class="center">
	<div class="dashboard-title">
		<h1>PetFinder</h1>
			<p>Use this app to find any local animals that may be missing</p>
	</div>

	<form id="form-js" class="form">
		Description of when last seen pet <br>
  		<input type="text" id="text" placeholder="Description" ><br>
  		 Provide your name, please<br>
 		 <input type="text" id="name" placeholder="Your name here"><br><br>
  		<input type="submit" value="Submit" id="submit">
			<!-- give form id, form submit listener, use prevent default, give input class, .val(), send data to server via ajax (how to comm to backend) -->
	</form>
</div>

<div class="">
	<h3>Currently lost animals</h3>

	<ul id="posts">
		
	</ul>	

</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="../app.js"></script>