
      <header class="header v-header container2 clearfix">        
        <div class="fullscreen-video-wrap">
          <video src="/styles/cat.mp4" autoplay="true" loop="true"></video>
        </div>

        <div class="header-overlay"></div>
        
        <div class="header-content">
            <h1>Pet Finder</h1>
            <p class="lead">If you have lost your loved one, simply post and see whether anyone has seen your pet. The days of posting signs on lampposts are long gone!</p>
            <p><a class="btn btn-lg btn-success" href="/users/register" role="button">Sign up today</a></p>
            <p><a class="btn btn-lg btn-success" href="/users/login" role="button">Login</a></p>
        </div>

      </header>

      <section class="section section-a ">
        <div class="container2">
          <h4>Pets Sited</h4>
          <p>View a comprehensive list of all lost animals in your area!</p> <!-- include radius and such-->
        </div>
      </section>
       
      <section class="section section-b ">
        <div class="container2">
          <h4>Sightings Map</h4>
          <p>Select an area and view how many animals are being sited.</p> <!-- include radius and such-->
        </div>
      </section>
      
      <section class="section section-c ">
        <div class="container2">
          <h4>Pet Shelters</h4>
          <p>Partner with us and help find forever homes for your furry friends.</p> <!-- include radius and such-->
        </div>
      </section>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

