<head>
	<link rel="stylesheet" href="/styles/login.css">

</head>

<body>
<div class="parent-login ">
	<form class="form-login errorMessages" method="post" action="/users/login">
		<h1>Account Login</h1>
	  <div class="form-group">
	    <label class="label" for="name">Username</label>
	    <input id="name" type="text" class="form-control" name="username" placeholder="Username" required>
	  </div>
	  <div class="form-group">
	    <label class="label" for="password">Password</label>
	    <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
	  </div>
	  <div class="clearfix">
		  <button type="submit" class="btn btn-default btn-login">Log In</button>
          <a href="/"><button type="button" class="btn btn-red btn-default">Cancel</button></a>
	  </div>
	</form>
</div>	  
 
 <script>
    var createAllErrors = function() {
        var form = $( this ),
            errorList = $( "ul.errorMessages", form );

        var showAllErrorMessages = function() {
            errorList.empty();

            // Find all invalid fields within the form.
            var invalidFields = form.find( ":invalid" ).each( function( index, node ) {

                // Find the field's corresponding label
                var label = $( "label[for=" + node.id + "] "),
                    // Opera incorrectly does not fill the validationMessage property.
                    message = node.validationMessage || 'Invalid value.';

                errorList
                    .show()
                    .append( "<li><span>" + label.html() + "</span> " + message + "</li>" );
            });
        };

        // Support Safari
        form.on( "submit", function( event ) {
            if ( this.checkValidity && !this.checkValidity() ) {
                $( this ).find( ":invalid" ).first().focus();
                event.preventDefault();
            }
        });

        $( "input[type=submit], button:not([type=button])", form )
            .on( "click", showAllErrorMessages);

        $( "input", form ).on( "keypress", function( event ) {
            var type = $( this ).attr( "type" );
            if ( /date|email|month|number|search|tel|text|time|url|week/.test ( type )
              && event.keyCode == 13 ) {
                showAllErrorMessages();
            }
        });
    };
    
    $( "form" ).each( createAllErrors );
</script>
</body>

 