/*style for api*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.center {
  max-width: 500px;
  margin: auto;
  margin:0px auto;
}

.form {
	margin: auto;
	margin:0px auto;
	width: 50%;
}

body {
	padding: 50px;
}

h1 {
	margin: auto;
	margin:0px auto;
	width: 50%;
}

ul {
	padding: 0;
}

ul li {
	list-style-type: none;
	background: #efefef;
	padding: 10px;
	margin-bottom: 10px;
}

ul li .edit {
	display:none;
}

ul li.edit .edit {
	display:initial;
}

ul li.edit .noEdit {
	display:none;
}

#deleteButton {
	background-color: red;
}






/* Everything but the jumbotron gets side spacing for mobile first views */
.header{
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
   {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}






