html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.center {
  max-width: 500px;
  margin: auto;
  margin:0px auto;
}

.form {
	margin: auto;
	margin:0px auto;
	width: 50%;
}

body {
	padding: 50px;
}

h1 {
	margin: auto;
	margin:0px auto;
	width: 50%;
}

ul {
	padding: 0;
}

ul li {
	list-style-type: none;
	background: #efefef;
	padding: 10px;
	margin-bottom: 10px;
}

ul li .edit {
	display:none;
}

ul li.edit .edit {
	display:initial;
}

ul li.edit .noEdit {
	display:none;
}

#deleteButton {
	background-color: red;
}






