html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.center {
  max-width: 500px;
  margin: auto;
  margin:0px auto;
}

.form {
	margin: auto;
	margin:0px auto;
	width: 50%;
}

h1 {
	margin: auto;
	margin:0px auto;
	width: 50%;
}
