.alert-success{
    background: lightgreen;
    color: darkgreen;
    border: 1px darkgreen;

}

.alert-danger{
    background: lightcoral;
    color: darkred;
    border: 1px darkred;
}

.alert{
    border-radius: 20px;
    width:50%;
    padding: 10px;
    text-align: center;
    margin:auto;
}