html{
    box-sizing: border-box;
        background: #FFFBD0;
    
    }

/* Full-width input fields */
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 60px;
    font-size: 28px;
}

.btn{
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*
.registration-body{
        max-width: 640px;
        margin-top: 60px;
        display:block;
        margin-right: auto;
        margin-left: auto;
        max-width: 6400px;
        width: 100%;
}
*/

.registration-body {
    padding:16px;
}

@media screen and (min-width: 960px) {
	.registration-body{
        width: 760px;
        display: block;
		margin-left: auto;
		margin-right: auto;
	}
}	

/*
@media screen and (min-width: 960px) {
    .registration-body{

    }
}
*/
.btn-red {
    padding: 14px 20px;
    background-color: #f44336;	
}

.btn-red, .btn-green {
	float:left;
	width:50%;
}
.clearfix{
	max-width: 500px;
		display: block;
	margin-right: auto;
	margin-left: auto;

}
.clearfix::after { /*if you don't do this, they will float down beyond the border*/
	content:"";
	clear:both;
	display:table;
}

h2{
    font-size: 60px;
    text-align: center;
	font-size: 60px;
}

label{
        font-size: 28px;

}

footer{
	   text-align: center;
}


